.question{
	padding-top: 3%;
	padding-bottom: 3%;
	color: white;
}

.landing-page{
	background-color: #036bfc;
	text-align: center;
}

.woda-zrodlana{
	width: 100%;
	text-align: center;
	background-color: #0390fc;
	display: block;
	text-decoration: none;
	color: white;
	
}

a:hover{
	color: #ffff66;
	text-align: center;
}

.about-us{
	width: 100%;
	text-align: center;
	background-color: #0390fc;
	display: block;
	text-decoration: none;
	color: white;
}

.woda-mineralna{
	width: 100%;
	text-align: center;
	background-color: #000000;
	display: block;
	text-decoration: none;
	color: white;
}
