.question{
	padding-top: 3%;
	padding-bottom: 3%;
	color: white;
}

.landing-page{
	background-color: black;
	text-align: center;
}

.quantum-introduce{
	width: 100%;
	text-align: center;
	background-color: #0d0d0d;
	display: block;
	text-decoration: none;
	color: white;
	
}

a:hover{
	color: #ffff66;
	text-align: center;
}

.about-us{
	width: 100%;
	text-align: center;
	background-color: #0d0d0d;
	display: block;
	text-decoration: none;
	color: white;
}

.famous-people{
	width: 100%;
	text-align: center;
	background-color: #000000;
	display: block;
	text-decoration: none;
	color: white;
}