*{
	margin-left: 0px;
	margin: 0px;

}

.subject{
	display: block;
	background-color: #8c8c8c;
}

article{
	padding-top: 1%;
	font-size: 20px;
	padding-bottom: 3%;
	list-style-position:inside;
}

footer{
	
}

.next{
	display: inline-block;
	background-color: gray;
	color: black;
	text-decoration: none;
}

.verticalNavbar{
	font-size: auto;
	padding-left: 0px;
	float: left;
	width: 220px;
	height: 100%;
	position: fixed;
}
main, footer{
	padding-left: 220px;
	text-align: center;
}

footer{
	bottom: 0;
	position: absolute;
}


ul{

	list-style-type: none;
	margin: 0;
	background-color: #f1f1f1;
	overflow: auto;
}

ul a{
    display: block;
	color: black;
	text-decoration: none;
	padding: 8px 16px;
}

ul a:hover{
	background-color: #b3b3b3;
}

.bd{
	float: left;
	padding-left: 220px;
	padding-top: 45px;	
}

.active {
    background-color: #8c8c8c;
}


.navbar {
	width: 100%;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}


.navbar a:hover{
    background-color: gray;
}
